#forprint > nav {
	display: none;
	}
	
#forprint section {
	display: block !important;
	height: initial !important; 
	}
	
#forprint main {
	margin: auto;
	height: initial ;
	}
	
#forprint .home h1 {
	top: 10px;
	margin: auto;
}

#forprint .traits {display: none;}
#forprint .skills table {width: 200px;}
#forprint .skills td:nth-of-type(2) {display: none;}

#forprint .projects {display: none !important;}
#forprint .about {page-break-before: always;  font-size: 0.8em;}

#forprint .contactme {height: initial;}
#forprint .contactme a:after {content: "";}
#forprint .contact form {display: none !important;}


